 /* Main Header,
 Sub Title and Paragraph Fonts 
 font-family: 'Koulen',
 cursive;
 font-family: 'Oswald',
 sans-serif;
 font-family: 'Roboto Condensed',
 sans-serif; */

 @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');

 ::selection {
    background: rgb(70, 70, 70);
    color: #fff;
 }

 body,
 p {
    font-family: 'Roboto Condensed',
       sans-serif;
 }

 h3 {
    font-family: 'Koulen',
       cursive;
 }

 h4 {
    font-family: 'Oswald',
       sans-serif;
 }